<template>
  <div class="container">
    <profil-header :profil="profil"/>
    <carousel-badge :badges="profil.badges" />
    <projects :items="profil.medias.realisations" />
    <commentaire :comments="profil.comments" />
    <contact :mail="profil.contact.mail" />
    <social-network :social="profil.social" />
  </div>
</template>

<script>
import ProfilHeader from '@/components/ProfilHeader'
import Projects from "@/components/Projects"
import Commentaire from "@/components/Commentaire"
import Contact from "@/components/Contact"
import CarouselBadge from "@/components/CarouselBadge"
import SocialNetwork from "@/components/SocialNetwork"

export default {
  components: {
    ProfilHeader,
    CarouselBadge,
    Projects,
    Commentaire,
    Contact,
    SocialNetwork
  },
  data() {
    return {
      profil: this.$route.params
    }
  }
}
</script>

<style lang="postcss" scoped>
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto flex-col;
}
</style>
