<template>
<div class="carouselContainer">
  <carousel :perPageCustom="[[350, 1], [1000, 2], [1400, 3]]" :navigationEnabled=false :paginationEnabled=false :autoplay=true :autoplayHoverPause=true :autoplayTimeout="5000" :loop=true >
    <slide v-for="profil in profils" :key="profil.id" class="flex flex-col items-center justify-center text-white">
      <div class="flex flex-col justify-center purple p-10 m-8 rounded-lg shadow-xl">
        <div class="flex flex-row">
          <img :src="profil.contact.img" class="pic">
          <div class="pl-3 flex flex-col items-start justify-center text-base" >
              <p>{{ profil.contact.firstName}}
              {{ profil.contact.lastName}}</p>
              <p>Age : {{ calcAge(profil.contact.birthday) }} /
              Promo : {{ profil.status.promo }}</p>
              <p>{{ profil.contact.mail }}</p>
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <div class="flex flex-col self-start">
            <div v-for="badge in profil.badges.filter( (b, idx) => idx < 3)" :key="badge.id" class="flex flex-row items-center py-1">
              <img :src="badgeForId(badge.id).img" class="badge mr-4">
              <p class="text-xl">{{badgeForId(badge.id).name }}</p>
            </div>
          </div>
          <div class="self-end pb-4">
            <nuxt-link :to="{name: 'profil', params: profil }"><img src="~/assets/images/arrow.png" width="50px"></nuxt-link>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
  </div>

</template>

<script>

  import { Carousel, Slide } from 'vue-carousel';

  export default {
    components: {
      Carousel,
      Slide
    },
    props: {
      badges: {
        type: Array,
        required: true
      },
      profils: {
        type: Array,
        required: true
      }
    },
    methods: {
      badgeForId(id) {
        for (const badge of this.badges) {
          if(badge.id == id) return badge
        }
        return undefined
      },
      calcAge(date) {
        let s = date.split('/')
        return new Date(new Date() - new Date([s[1],s[0],s[2]].join('/'))).getFullYear() - 1970;
      }
    }
  };
</script>

<style lang="postcss" scoped>
.carouselContainer {
  width: 100%;
}
.purple {
  background:linear-gradient(rgb(133,52,174),rgb(154,128,255));
}

.pic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

.badge {
  width:45px;
  height:45px;
}

</style>
