<template>
  <div>
    <div id="Search-Result-list" v-for="profil in profils" :key="profil.id">
      <div class="flex">
        <img id="profilPic" class="inline-block pt-2 pl-2" :src="profil.contact.img" />
        <div id="badges" class="inline-block pt-2 pl-4 flex flex-col justify-between">
          <div v-for="badge in badgesToDisplay(profil)" :key="badge.id" class="flex items-center">
            <img :src="badgeForId(badge.id).img" />
            <p class="ml-4">{{ badgeForId(badge.id).name }}</p>
          </div>
        </div>
      </div>
      <div id="text">
        <div id="text-search-result">
          <h1>{{ profil.contact.firstName + ' ' + profil.contact.lastName }}</h1>
          <p>{{ profil.contact.city }}</p>
        </div>
        <div id="next" class="inline-block">
          <nuxt-link :to="{name: 'profil', params: profil }"><img src="~/assets/images/arrow.png" width="50px"></nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["profils", "badges", "selected"],
  data() {
    return {
      badgeslist: [],
      firstname: "",
      desc: ""
    };
  },
  methods: {
    badgeForId(id) {
      for (const badge of this.badges) {
        if (badge.id == id) return badge;
      }
      return undefined;
    },
    badgesToDisplay(profil) {
      let badges = []
      for (const userBadge of profil.badges) {
        if (userBadge) {
          for (const selectedBadge of this.selected) {
            if (userBadge.id == selectedBadge) {
              badges.push(userBadge)
            }
            if (badges.length == 3) { break }
          }
        }
      }
      if (badges.length < 3) {
        let tryed = []
        while (badges.length < 3 && tryed.length < 3) {
          let i = Math.round(Math.random() * (profil.badges.length - 1))
          if (!tryed.includes(i)) {
            let b = profil.badges[i]
            if (!badges.includes(b)) { badges.push(b) }
            tryed.push(i)
          }
        }
      }
      return badges
    }
  }
};
</script>

<style lang="postcss" scoped>
#profilPic {
  border-radius: 100px;
  width: 125px;
  height: 125px;
}

#Search-Result-list {
  background: rgb(224, 0, 224);
  background: linear-gradient(37deg, #660099 0%, #8161ff 100%);
  border-radius: 10px;
  min-height: 200px;
  padding: 5px;
  margin: 10px;
  color: white;
}

#text-search-result {
  padding: 10px;
}

#badges img {
  max-width: 5vw;
  min-width: 50px;
  height: auto;
  margin-top: 10px;
}

#text {
  display: flex;
  justify-content: space-between;
}

#next {
  padding-top: 10px;
  padding-right: 20px;
}
</style>
