<template>
  <div>
    <!-- SearchBar -->
    <div style="height: 45px; margin: 5px 10px;" class="flex flex-row justify-between ">
      <input
        @click="activate"
        v-model="search"
        class="boxShad p-2"
        :style="{'background-color': checkString}"
        :class="{'seachBarActive': active, 'seachBarInactive': !active}"
      />
      <button
        @click="cancel"
        v-if="active"
        type="button"
        class="boxShad py-2 bg-red-600 text-white font-bold rounded-lg"
      >X</button>
    </div>
    <!-- Stack Bar -->
    <div v-if="active" class="stacker">
      <img
        @click="selectAction(stack)"
        class="badgeLog"
        v-for="stack in badgeStackImg"
        :key="stack.id"
        :src="stack.img"
      />
    </div>
    <div v-if="active" class="lister overflow-auto" >
      <badge-card
        @ready="selectAction(badge)"
        :checkList="badgeStack"
        :badge="badge"
        v-for="(badge) in badgeSearch"
        :key="badge.id"
      />
    </div>
  </div>
</template>

<script>
import BadgeCard from "@/components/BadgeCard";

export default {
  components: {
    BadgeCard
  },
  props: {
    badges: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      badgeSearch: [],
      badgeStack: [],
      badgeStackImg: [],
      badgeStackBadge: [],
      search: "",
      active: false
    };
  },
  computed: {
    checkString() {
      let searchInf = this.search;
      let badgeArray = [];
      this.badges.forEach(element => {
        if (element.name.toLowerCase().search(searchInf) >= 0) {
          badgeArray.push(element);
        }
      });
      this.badgeSearch = badgeArray;
      return this.search.length < 5 ? "white" : "white";
    }
  },
  methods: {
    activate() {
      this.active = true;
    },
    cancel() {
      this.active = false;
      this.badgeStack = []
      this.search = ""
      this.$emit("filterUpdate", this.badgeStack);
    },
    selectAction(badge) {
      let index = this.badgeStack.indexOf(badge.id);
      if (index >= 0) {
        this.badgeStack.splice(index, 1);
        this.badgeStackBadge.splice(index, 1);
      } else {
        this.badgeStack.push(badge.id);
        this.badgeStackBadge.push(badge);
      }
      this.refactorImgStack();
      this.$emit("filterUpdate", this.badgeStack);
    },
    refactorImgStack(ind, badge) {
      this.badgeStackImg = [];
      this.badgeStackBadge.forEach(element => {
        this.badgeStackImg.push({
          id: element.id,
          img: element.img
        });
      });
    }
  },
  mounted() {
    this.badgeSearch = this.badges;
    this.refactorImgStack();
  }
};
</script>

<style lang="postcss" scoped>
.searchBarInput {
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
  height: 90%;
}
.seachBarActive {
  width: 90%;
}
.seachBarInactive {
  width: 100%;
}
.displayer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.stacker {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 10px 10px;
  margin-top: 1rem;
}
.boxShad {
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
}

.badgeLog {
  margin: 5px;
  height: 80%;
}

.lister {
  /* height: 50px; */
  /* width: 350px; */
  max-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input:focus {
  outline: none;
}

button {
  width: 8%;
}
</style>
